* {
    margin: 0;
    padding: 0;
}
body {
    background: lightgrey;
}
h1 {
    text-align: center;
}
#main {
    position: relative;
    background: pink;
    width: 100vw;
    height: 100vh;
}
img {
    position: absolute;
    transition: transform ease 200ms;
}
