@font-face {
    font-family: "digit";
    src: url(../fonts/DS-DIGIB.TTF);
}
@font-face {
    font-family: "carnival";
    src: url(../fonts/CarnivaleeFreakshow-DLrm.ttf);
}

* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 80px;
    z-index: 999;
}
#burgerMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
}
#burgerMenu span {
    background: black;
    height: 5px;
}
#sideBar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    background: whitesmoke;
    position: absolute;
    height: 100%;
    width: 150px;
    left: -230px;
    z-index: 99;
}
#sideBar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#sideBar li {
    list-style-type: none;
    cursor: pointer;
}
#menu,
#timer {
    width: 100px;
}
body {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
body p {
    position: relative;
    text-align: center;
}
h1 {
    font-family: carnival;
    font-size: 30;
    color: red;
    text-align: center;
}
#main {
    position: relative;
    background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#main:hover {
    cursor:
        url(../images/target.png) 16 16,
        move;
}
#timer {
    font-family: digit;
    font-size: 30px;
}
img {
    position: absolute;
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    left: 50%;
    top: 50%;
    margin: -200px -300px;
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: white;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}
.hidden {
    display: none;
}

.animShake {
    animation: shake 300ms;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
